
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$notosans: 'Noto Sans', sans-serif;
$raleway: 'Raleway', sans-serif;
$lato: 'Lato', sans-serif;
$alegreya: 'Alegreya', serif;
$sourcesanspro: 'Source Sans Pro', sans-serif;
$museoslab: "museo-slab",serif;
$poppins: 'Poppins', sans-serif;
$merriweather: 'Merriweather', serif;
$roboto-slab: 'Roboto Slab', serif;
$crimson-text: 'Crimson Text', serif;
$leitura: "leitura-news", serif;
$garamond: "adobe-garamond-pro";

// Mobile breakpoints
@mixin laptop {
  @media screen and (min-width: 640px) {
    @content;
  }
}

@mixin tablet {
	@media screen and (min-width: 640px) {
		@content;
	}
}